<%= form_for @link, html: { class:"form-inline" }  do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>
      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
      <%= f.text_field :original_link, class: "form-control", placeholder: "http://www.amazon.com/", autofocus: true %>
        <span class="input-group-btn">
          <%= f.submit "Shorten link" , class: "btn btn-info" %>
        </span>
      </div>
    </div>
  </div>
<% end %>
